  .row {
    display: flex;
    justify-content: center;
  }

  .liste {

    background-color: #F0F0F0;
    padding: 8px;
    height: 100px;
    border: 1px solid black;

  }



  .indice {
    background-color:#F8B195;
    color:#8b2f97;
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 30%;
    line-height: 50px;
    opacity:40%;
  }
.indice:hover {

  opacity: 1;
}
