  .row {
    display: flex;
    justify-content: center;
  }

  .liste {
    width: 90%;
    background-color: #F0F0F0;
    padding: 8px;
    height: 100px;
  }

  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    background-color:#F8F8F8;
    box-shadow: 10px 5px 5px #C1C1C1;
    border-radius: 10px;
    margin: 20px;
  }

  .indice {
    background-color:#F8B195;
    color:#8b2f97;
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 30%;
    line-height: 50px;
    opacity:40%;
  }
.indice:hover {

  opacity: 1;
}
