h1 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  padding-left: 48px;
}

h4 {
  font-size: 16px;
  font-style: italic;
  padding-left: 48px;
}

h6 {
  font-size: 12px;
}

.name {
  color: black;
  font-family: cursive;
}

.date {
  color: black;
  font-family: cursive;
}

.comment {
  color: black;
  font-family: cursive;
}

#ttt {
  font-family: cursive;
  position: relative;
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  font-size: 14px;
}

.btn-ghost:hover {
  opacity: 1;
}



