.name {

  color:#D55252;
  font-family: cursive;
}

.date {

color:#F58B54;
  font-family: cursive;

}

.comment {

color:#EC9B3B;
  font-family: cursive;

}

#ttt {


  font-family: cursive;
  position:relative;
  left:20px;

}

.btn-ghost {
  color: #F2D4C2;
  border: 1px solid #EFEFEF;
  padding: 8px 24px;
  border-radius: 20px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}



.card-product {

  border-radius:30px;
background: linear-gradient(90deg, rgba(15,15,15,1) 0%, rgba(223,223,223,1) 49%, rgba(227,232,233,1) 100%);
}
