h2 {
  font-size: 20px;
  font-style: italic;
  padding-bottom: 16px;
}

.btn {
  margin: 24px 0 12px 0;
}

.contains {
  margin: 24px 0;
}

.card-body-left {
  padding-right: 8px;
}

.card-body-right {
  padding-left: 8px;
}
