<style>
  .item {
    width: 95px;
    height: 120px;
    background-color: #fff;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    cursor: pointer;
    border: 1px solid white;
    background-color: black;


  }
  .owl-carousel {
    display: flex;
    width: 3000px;
    padding: 0 15px;

  }

  img {
    width: 100%;
    height: 100%;

  }
</style>


<div class="owl-carousel">
  <%= link_to search_path(status: status) do  %>
  <% if status != 'done' %>
  <div class="item">+</div>
  <% end %>
  <% end %>
  <% ec.each do |book| %>
    <%= link_to book_show_path(book) do  %>
      <div class="item"><%= image_tag book.livre.imageurl %></div>
    <% end %>
  <% end %>
</div>


