<style>
  .logolivre {
    width: 40px;height: 40px;
  }
  .nav-link {
    color: white;
  }
</style>


<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <%= link_to :back do  %>
      <i class="fas fa-arrow-left" style="color:white;font-size: 25px;"></i>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" style="text-align: center" id="navbarCollapse">
      <ul class="navbar-nav m-auto">

        <li class="nav-item">
          <%= link_to 'Accueil', books_path, class: "nav-link"  %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/books/followers"  style="colortext-align:center">Ma communauté</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/books/historique"  style="colortext-align:center">Mon historique</a>
        </li>
        <li class="nav-item">
          <%= link_to 'Déconnexion', destroy_user_session_path, method: :delete ,class: 'nav-link' %>
        </li>
      </ul>
              <div class="nav-item">
          <div style="color:white;text-align:center;border-bottom:">
            <% if signed_in? %>
            <%= "#{current_user.first_name.capitalize} #{current_user.last_name.upcase}" %>
            <% end %>
          </div>
        </div>
    </div>
  </nav>
</header>





