<style>
  .footer {
    display: none;
  }

  .navbar, footer {
    display: none;
  }

  .alertClass {
    display: none;
  }

  .photo {
    height: 100vh;
  }
</style>

<header class="photo" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.4)), url(https://images5.alphacoders.com/394/394862.jpg); background-size: cover;background-position : center center;">

    <div class="contain_image">
        <div class="contain__fly-in-text">
            <ul class="fly-in-text hidden">
                <li>My</li>
                <li>Books</li>
                <li>&</li>
                <li>Me</li>
            </ul>
        </div>
        <div class="webdev">Archiver et partager vos lectures</div>
        <div class="gobtn" style="margin-left: -40px">
          <% if user_signed_in? %>
          <%= link_to "C'est parti !", books_path(status: 'livres'), class: 'btn btn-ghost'   %>

          <% else %>
          <%= link_to "C'est parti !", new_user_session_path, class: 'btn btn-ghost'   %>

          <% end %>
      </div>
    </div>
</header>





