<div style="margin: 80px 0">
  <h1>Votre communauté</h1>
  <hr>

  <div id="follower-cards">

    <% @f.each do |user| %>

    <div id="bookcard" class="d-flex list-inline" style="width: 250px; margin: 8px">
      <%= image_tag "Couverture_Livre_Neutre.jpg", alt: "alttext" %>
      <div class="d-flex flex-column align-items-center" style="padding-left: 32px">
        <h2><%= user.first_name %></h2>
        <div class="d-flex list-inline justify-content-around">
          <div class="add-user btn-user" style="padding-top: 16px; padding-left: 16px">
            <%= link_to profil_show_path(user) do %>
            <i class="fas fa-user" style="font-size: 24px"></i>
            <% end %>
          </div>

          <div class="delete-user btn-user" style="padding-top: 16px; padding-left: 16px">
            <%= link_to destroy_follower_path(user), method: 'delete' do %>
            <i class="fas fa-user-slash" style="font-size: 24px"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>



