<h1>coucou</h1>
<div class="container" style="display:flex">
  <form action="search">
  <div class="card" style="width: 300px; margin: 14px">

    <div class="card-body">
      dejà lu
    </div>
    <div class="card-footer">
<button type="submit" class="btn btn-primary">
  search
</button>·
    </div>
  </div>
  </form>

    <div class="card" style="width: 300px; margin: 14px">
    <div class="card-body">
      wish list
    </div>
        <div class="card-footer">
      <button class="btn btn-primary">search</button>
    </div>
  </div>

    <div class="card" style="width: 300px; margin: 14px">
    <div class="card-body">
      communauté
    </div>
        <div class="card-footer">
      <button class="btn btn-primary">search</button>
    </div>
  </div>
</div>











