<div id="bookshow" class="d-flex">
  <div id="bookcard" style="margin: 100px">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="bookcard-infos">
      <h2>Titre du livre <%#= @book.title %></h2>
      <h3>Auteur du livre <%#= @book.author %></h3>
      <p>Catégorie : <%#= @book.category_id %></p>
    </div>
  </div>
  <div id="book-card-buttons" style="margin: 100px">
    <%= link_to "Ajouter à la liste de lecture", "#", class: "btn btn-add" %>
    <%= link_to "Commencer la lecture", "#", class: "btn btn-start" %>
  </div>
</div>

<div id="reader-opinion" class="d-flex">
  <div id="criteria-zone" style="margin: 100px">
    <div class="criteria d-flex">
      <div>1</div>

      <div class="note-bar">

      </div>

      <div>10</div>
    </div>
  </div>
  <div id="commentary-zone" style="margin: 100px">

  </div>
</div>
