<div style="margin-top: 80px; margin-bottom: 120px">
  <h1>Les lectures de </h1>
  <hr>

  <div class="row justify-content-around">
    <div class="col-5 last-readings">
      <h5>Ses dernières lectures</h5>
      <div class="colonne">
        <div id="bookcard" class="d-flex">
          <img src="" alt="">
          <div class="d-flex flex-column">
            <h2>Titre</h2>
            <h3>Auteur</h3>
            <p>Catégorie</p>
          </div>
        </div>
        <div id="bookcard" class="d-flex">
          <img src="" alt="">
          <div class="d-flex flex-column">
            <h2></h2>
            <h3></h3>
            <p></p>
          </div>
        </div>
        <div id="bookcard" class="d-flex">
          <img src="" alt="">
          <div class="d-flex flex-column">
            <h2></h2>
            <h3></h3>
            <p></p>
          </div>
        </div>
        <div id="bookcard" class="d-flex">
          <img src="" alt="">
          <div class="d-flex flex-column">
            <h2></h2>
            <h3></h3>
            <p></p>
          </div>
        </div>
        <div id="bookcard" class="d-flex">
          <img src="" alt="">
          <div class="d-flex flex-column">
            <h2></h2>
            <h3></h3>
            <p></p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-5 best-readings">
      <h5>Son Top</h5>
      <div class="colonne">
        <div id="bookcard" class="d-flex">
          <img src="" alt="">
          <div class="d-flex flex-column">
            <h2></h2>
            <h3></h3>
            <p></p>
          </div>
        </div>
        <div id="bookcard" class="d-flex">
          <img src="" alt="">
          <div class="d-flex flex-column">
            <h2></h2>
            <h3></h3>
            <p></p>
          </div>
        </div>
        <div id="bookcard" class="d-flex">
          <img src="" alt="">
          <div class="d-flex flex-column">
            <h2></h2>
            <h3></h3>
            <p></p>
          </div>
        </div>
        <div id="bookcard" class="d-flex">
          <img src="" alt="">
          <div class="d-flex flex-column">
            <h2></h2>
            <h3></h3>
            <p></p>
          </div>
        </div>
        <div id="bookcard" class="d-flex">
          <img src="" alt="">
          <div class="d-flex flex-column">
            <h2></h2>
            <h3></h3>
            <p></p>
          </div>
        </div>
        <div id="bookcard" class="d-flex">
          <img src="" alt="">
          <div class="d-flex flex-column">
            <h2></h2>
            <h3></h3>
            <p></p>
          </div>
        </div>
        <div id="bookcard" class="d-flex">
          <img src="" alt="">
          <div class="d-flex flex-column">
            <h2></h2>
            <h3></h3>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
