<style>
  .custom-range {
    color: red;
  }

  .slider {
    width: 90%;
    height: 20px;
    background: linear-gradient(to right, #99f430 0%,#f92307 100%);
    display: flex
  }

  .actived {
    background-color: transparent;
  }

  .desactived {
    background-color: #fff;
  }

  .boite {
    width: 10%;
    border-right: 0.2px dotted black;
    cursor: pointer;
  }
</style>

<div class="slider" style="border: 1px solid black">
  <div data-id="1" class="boite desactived"></div>
  <div data-id="2" class="boite desactived"></div>
  <div data-id="3" class="boite desactived"></div>
  <div data-id="4" class="boite desactived"></div>
  <div data-id="5" class="boite desactived"></div>
  <div data-id="6" class="boite desactived"></div>
  <div data-id="7" class="boite desactived"></div>
  <div data-id="8" class="boite desactived"></div>
  <div data-id="9" class="boite desactived"></div>
  <div data-id="10" class="boite desactived" style="border: none"></div>
</div>
