

<div class="container" style="margin-top: 100px">
  <h1>notation</h1>
  <div class="notations mb-5">
    <% @taglist.each_with_index do |tag, index| %>
          <div id="<%= index %>">
      <div ><%= tag.name %></div>
      <%= render 'slider', status: "slide#{tag.id}"  %>
    </div>
    <% end %>


  </div>
  <div>




    <%= link_to "j'ai terminé ce livre", book_update_path(@reading), method: 'patch',  class: "btn btn-lg btn-primary d-block w-100 mb-5"%>

  </div>







