<p>Bonjour <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous vous notifions que votre adresse mail est sur le point d'être changée pour <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nous vous notifions que votre adresse mail a été changée par <%= @resource.email %>.</p>
<% end %>
