  <form action="/books/store" method="get" id="form">
    <input type="hidden" name="dataId" value="" id="id">
    <input type="hidden" name="status" value="<%= params[:status] %>">
    <div class="contains">
      <% @fj.each do |book| %>
      <div class="card">
        <div class="card-body">
          <% if book['volumeInfo']['imageLinks'].nil? %>
          <% else %>
            <%= image_tag(book['volumeInfo']['imageLinks']['smallThumbnail'], height: '60', width: '45', data: {"id" => book['id']}) %>
          <% end %>
          <%= book['volumeInfo']['title'] %> (<%= book['volumeInfo']['authors'].join(', ') %>)

        </div>
      </div>

      <% end %>
    </div>
  </form>




